.body {
  background-color: #23272A;
  color:#ffffff;
}
div.links {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #2c2f33;
}
.button {
  background-color: #7289da;
  color: #2c2f33;
  padding: 30px 35px;
  margin: 20px 4px;
  cursor: pointer;
  font-size: 17px;
}
.button:hover {background-color: #6375b6}
.button:active {
  background-color: #6375b6;
}
.paragraph {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
background-color: #2c2f33;
width:800px;
}
div.scroll {
  margin: 4px, 4px;
  padding: 4px;
  width: 1000x;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}