.object {
    position: absolute;
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 2s ease-in-out; /** Firefox **/
    -o-transition: all 2s ease-in-out; /** Opera **/
}
#axis:hover .move-right{
    transform: translate(1750px,0);
    -webkit-transform: translate(1750px,0); /** Chrome & Safari **/
    -o-transform: translate(1750px,0); /** Opera **/
    -moz-transform: translate(1750px,0); /** Firefox **/
}