.small {
    font-size: 17px;
}
.big {
    font-size: 22px;
}
body {
    color: white;
    background: #23272A;
  }
  div.sussy-baka {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }